@use "/src/styles/variable.scss" as variable;

.newArrival {
  .newArrivalContainer {
    @include variable.d-flex($fd: column, $al: center);
    gap: 60px;
    padding: 0 120px 120px 120px;

    .titleContainer {
      max-width: 1200px;
      @include variable.d-flex($fd: column, $al: center);
      gap: 20px;

      .title {
        @include variable.d-flex($al: center, $jc: center);

        h1 {
          @include variable.font-style($fs: 48px, $fw: 700, $lh: 48px);
          letter-spacing: -1.92px;

          &:first-child {
            color: variable.$text-blue-primary;
          }
          &:last-child {
            color: variable.$text-red-primary;
          }
        }
      }
      p {
        @include variable.font-style($fs: 20px, $fw: 400, $lh: 30px);
        max-width: 688px;
        color: variable.$text-black-secondary;
        text-align: center;
        letter-spacing: -0.6px;
      }
    }
    .productContainer {
      .tabSection {
        @include variable.d-flex();
        gap: 7px;
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  .newArrival {
    .newArrivalContainer {
      padding: 0 80px 120px 80px;
    }
  }
}
@media screen and (max-width: 992px) {
  .newArrival {
    .newArrivalContainer {
      padding: 0 60px 120px 60px;

      .titleContainer {
        .title {
          h1 {
            @include variable.font-style($fs: 38px, $fw: 700, $lh: 48px);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 568px) {
  .newArrival {
    .newArrivalContainer {
      padding: 0 20px 40px 20px;

      .titleContainer {
        .title {
          flex-direction: column;
          gap: 10px;
          h1 {
            @include variable.font-style($fs: 28px, $fw: 700, $lh: 28px);
          }
        }
        p {
          @include variable.font-style($fs: 18px, $fw: 400, $lh: 30px);
        }
      }
    }
  }
}
