@use "/src/styles/variable.scss" as variable;
.serviceCardContainer {
  background-color: variable.$text-orange-primary;
  max-width: 277.5px;
  min-width: 277.5px;
  @include variable.d-flex($jc: center, $al: center, $fd: column);
  gap: 25px;
  border-radius: 15px;
  border: 1px solid variable.$service-border;
  padding: 27px 32.5px 26.81px 33px;

  .imageWrapper {
    max-width: 51px;
  }
  .contentContainer {
    @include variable.d-flex($fd: column);
    gap: 18px;
    width: 100%;

    h5 {
      width: 100%;
      @include variable.font-style($fs: 20px, $fw: 600, $lh: 30px);
      color: variable.$text-black-secondary;
      text-align: center;
      letter-spacing: -0.6px;
    }
    p {
      width: 100%;
      color: variable.$text-black-secondary;
      @include variable.font-style($fs: 18px, $fw: 400, $lh: 30px);
      text-align: center;
      letter-spacing: -0.54px;
    }
  }
}
