@use "/src/styles/variable.scss" as variable;

.addHeader {
  .addHeaderContainer {
    padding: 18px 120px;
    @include variable.d-flex($jc: space-between);
    gap: 20px;
    
    .shippingDetails {
      p {
        color: variable.$text-gray-primary;
        @include variable.font-style($fs: 14px, $fw: 400);
        letter-spacing: -0.28px;
        .red {
          color: variable.$text-red-primary;
          font-weight: 600;
        }
      }
    }
    .contactContainer {
      @include variable.d-flex();
      gap: 25px;

      .phoneNumber {
        @include variable.d-flex($al: center);
        gap: 6px;

        .imageWrapper {
          width: 20px;
          height: 20px;
        }
        span {
          color: variable.$text-gray-primary;
          @include variable.font-style($fs: 14px, $fw: 400);
          letter-spacing: -0.28px;
        }
      }
      .officeHours {
        @include variable.d-flex($al: center);
        gap: 6px;

        .imageWrapper {
          width: 20px;
          height: 20px;
        }
        span {
          color: variable.$text-gray-primary;
          @include variable.font-style($fs: 14px, $fw: 400);
          letter-spacing: -0.28px;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .addHeader {
    .addHeaderContainer {
      padding: 18px 80px;
    }
  }
}
@media screen and (max-width: 992px) {
  .addHeader {
    .addHeaderContainer {
      padding: 18px 60px;
    }
  }
}
@media screen and (max-width: 568px) {
  .addHeader {
    .addHeaderContainer {
      padding: 18px 20px;
    }
  }
}
