@use "/src/styles/variable.scss" as variable;
.service {
  .serviceContainer {
    @include variable.d-flex($jc: center);
    gap: 30px;
    padding: 120px;
  }
}

@media screen and (max-width: 1024px) {
  .service {
    .serviceContainer {
      padding: 120px 80px;
      overflow: hidden;

      .cardContainer {
        margin-right: 80px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .service {
    .serviceContainer {
      padding: 120px 60px;

      .cardContainer {
        margin-right: 40px;
      }
    }
  }
}
@media screen and (max-width: 568px) {
  .service {
    .serviceContainer {
      padding: 40px 20px;
    }
  }
}
