@use "/src/styles/variable.scss" as variable;

.giftBoxCarousel {
  .giftBoxCarouselContainer {
    .giftBoxSildeContainer {
      @include variable.d-flex();
      background-color: variable.$text-orange-primary;

      .imageSection {
        width: 50%;
      }
      .contentWrapper {
        padding: 70px 0 0 87px;
        width: 50%;
        @include variable.d-flex($fd: column);
        gap: 60px;

        .textContainer {
          @include variable.d-flex($fd: column);
          gap: 50px;
          .mainContent {
            @include variable.d-flex($fd: column);
            gap: 18px;

            .cardHeader {
              @include variable.d-flex($fd: column);
              gap: 20px;
              max-width: 519px;

              .title {
                @include variable.d-flex();
                h1 {
                  @include variable.font-style($fs: 48px, $fw: 700, $lh: 48px);
                  letter-spacing: -1.92px;

                  &:first-child {
                    color: variable.$text-blue-primary;
                  }
                  &:last-child {
                    color: variable.$bg-red-primary;
                  }
                }
              }
              p {
                color: variable.$text-black-secondary;
                @include variable.font-style($fs: 20px, $fw: 400, $lh: 30px);
                letter-spacing: -0.6px;
              }
            }
            .pointContainer {
              .pointsItem {
                @include variable.d-flex($al: center);
                gap: 5px;

                span {
                  color: variable.$text-black-secondary;
                  @include variable.font-style($fs: 18px, $fw: 400, $lh: 30px);
                  letter-spacing: -0.54px;
                }
              }
            }
          }
          .priceContainer {
            @include variable.d-flex($al: center);
            gap: 15px;
            span {
              &:first-child {
                @include variable.d-flex();
                gap: 15px;
                color: variable.$text-blue-primary;
                @include variable.font-style($fs: 40px, $fw: 700, $lh: 40px);
                letter-spacing: -0.4px;
              }
              &:nth-child(2) {
                @include variable.font-style($fs: 24px, $fw: 400, $lh: 40px);
                color: variable.$text-gray-secondary;
                letter-spacing: -0.96px;
                text-decoration-line: line-through;
              }
              &:nth-child(3) {
                color: variable.$bg-red-primary;
                @include variable.font-style($fs: 18px, $fw: 600, $lh: 30px);
                letter-spacing: -0.54px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .giftBoxCarousel {
    .giftBoxCarouselContainer {
      .giftBoxSildeContainer {
        flex-direction: column;
        align-items: center;
        .imageSection {
          height: 100%;
          .imageWrapper {
            height: 100%;
          }
        }
        .contentWrapper {
          padding: 40px 20px 0 20px;

          .textContainer {
            .mainContent {
              .cardHeader {
                .title {
                  width: 100%;
                  h1 {
                    @include variable.font-style(
                      $fs: 38px,
                      $fw: 600,
                      $lh: 48px
                    );
                  }
                }
                p {
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .giftBoxCarousel {
    .giftBoxCarouselContainer {
      .giftBoxSildeContainer {
        flex-direction: column;
        align-items: center;
        .imageSection {
          width: 75%;
          height: 100%;
          .imageWrapper {
            height: 100%;
          }
        }
        .contentWrapper {
          padding: 40px 20px 0 20px;
          width: 75%;
        
          .textContainer {
          
            .mainContent {
              .cardHeader {
                .title {
                  width: 100%;
                  h1 {
                    @include variable.font-style(
                      $fs: 38px,
                      $fw: 600,
                      $lh: 48px
                    );
                  }
                }
                p {
                  text-align: left;
                }
              }
            }
          }
          .buttonContainer{
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 568px) {
  .giftBoxCarousel {
    .giftBoxCarouselContainer {
      .giftBoxSildeContainer {
        .imageSection {
          width: 100%;
          .imageWrapper {
            height: 100%;
          }
        }
        .contentWrapper {
          padding: 40px 20px 0 20px;
          width: 100%;
            gap: 20px;
          .textContainer {
              gap: 30px;
            .mainContent {
              .cardHeader {
                .title {
                  width: 100%;
                  h1 {
                    @include variable.font-style(
                      $fs: 28px,
                      $fw: 500,
                      $lh: 28px
                    );
                  }
                  
                }
               p{
                    font-size: 17px;
                  }
              }
            }
            .priceContainer{
                flex-wrap: wrap;
                gap: 20px;
            }
          }
        }
      }
    }
  }
}

/* Move the dots above the image or wherever you want */
.giftBoxCarousel .control-dots {
  bottom: 20px; /* Change this value to move up or down */
  text-align: left; /* or center / right */
  left: 20%; /* Move horizontally if needed */
}

@media screen and (max-width: 1050px) {
  .giftBoxCarousel .control-dots {
    top: 39%;
    text-align: left; /* or center / right */
    left: 45%; /* Move horizontally if needed */
  }
}
@media screen and (max-width: 992px) {
  .giftBoxCarousel .control-dots {
    top: 42%;
    text-align: left; /* or center / right */
    left: 45%; /* Move horizontally if needed */
  }
}
@media screen and (max-width: 568px) {
  .giftBoxCarousel .control-dots {
    top: 30.5%;
    text-align: left; /* or center / right */
    left: 36%; /* Move horizontally if needed */
  }
}

.giftBoxCarousel .customArrow {
  position: absolute;
  top: 50%;
  z-index: 5;
  border: none;
  outline: none;
  background-color: transparent;
  width: 54px;
  height: 53px;
}
@media screen and (max-width: 568px) {
  .giftBoxCarousel .customArrow {
    top: 15%;
  }
}
.giftBoxCarousel .customArrowNext {
  right: 5%;
}
.giftBoxCarousel .customArrowPrev {
  left: 5%;
}
