@use "/src/styles/variable.scss" as variable;

.tabButton {
  @include variable.font-style($fs: 20px, $fw: 500, $lh: 40px);
  padding: 14px 30px;
  background-color: variable.$text-white-fourth;
  border-radius: 30px;
  color: variable.$text-blue-primary;
  letter-spacing: -0.8px;
  border: none;
  outline: none;
}
.tabButtonactive {
  background-color: variable.$bg-orange-primary;
  color: variable.$bg-white-primary;
}
