@use "/src/styles/variable.scss" as variable;
.footer {
  background-color: variable.$bg-red-primary;
  padding: 100px 120px 20px 120px;
  color: variable.$text-white-primary;

  .footerContainer {
    width: 100%;
    @include variable.d-flex($fd: column);
    gap: 80px;
    .mainFooter {
      width: 100%;
      @include variable.d-flex($jc: space-between);

      .addressContainer {
        @include variable.d-flex($fd: column);
        gap: 30px;
        .logo {
          .imageWrapper {
            width: 175px;
          }
        }
        .addressDetail {
          @include variable.d-flex($fd: column);
          gap: 20px;
          h3 {
            color: variable.$text-white-secondary;
            @include variable.font-style($fs: 24px, $fw: 600, $lh: 40px);
            letter-spacing: -0.96px;
          }
          .details {
            @include variable.d-flex($fd: column);
            span {
              color: variable.$text-white-primary;
              @include variable.font-style($fs: 20px, $fw: 400, $lh: 26px);
              letter-spacing: -0.8px;
              &:first-child {
                font-weight: 600;
              }
            }
          }
        }
        .contactDetails {
          @include variable.d-flex($fd: column);
          gap: 18px;
          .contactItem {
            .title {
              color: variable.$text-white-secondary;
              @include variable.font-style($fs: 24px, $fw: 600, $lh: 40px);
              letter-spacing: -0.96px;
            }
            .content {
              color: variable.$text-white-primary;
              @include variable.font-style($fs: 20px, $fw: 500, $lh: 26px);
              letter-spacing: -0.8px;
            }
          }
        }
        .email {
          span {
            &:first-child {
              @include variable.font-style($fs: 24px, $fw: 600, $lh: 40px);
              color: variable.$text-white-secondary;
              letter-spacing: -0.96px;
            }
            &:last-child {
              @include variable.font-style($fs: 20px, $fw: 500, $lh: 26px);
              color: variable.$text-white-primary;
              letter-spacing: -0.2px;
            }
          }
        }
      }
      .navContainer {
        @include variable.d-flex();
        gap: 82px;

        h4 {
          @include variable.font-style($fs: 24px, $fw: 700, $lh: 30px);
          color: variable.$text-white-secondary;
          letter-spacing: -0.72px;
        }

        .linkContainer {
          @include variable.d-flex($fd: column);
          gap: 31px;

          .linksItemContainer {
            @include variable.d-flex($fd: column);
            gap: 15px;

            span {
              @include variable.font-style($fs: 20px, $fw: 500, $lh: 28px);
              color: variable.$text-white-third;
              letter-spacing: -0.4px;
            }
          }
        }
        .bankDetailContainer {
          @include variable.d-flex($fd: column);
          gap: 31px;

          .bankDetailItemContainer {
            @include variable.d-flex($fd: column);

            span {
              @include variable.font-style($fs: 20px, $fw: 500, $lh: 33px);
              color: variable.$text-white-third;
              letter-spacing: -0.4px;
            }
          }
        }
        .helpContainer {
          @include variable.d-flex($fd: column);
          gap: 31px;

          .helptemContainer {
            @include variable.d-flex($fd: column);
            gap: 15px;

            span {
              @include variable.font-style($fs: 20px, $fw: 500, $lh: 28px);
              color: variable.$text-white-third;
              letter-spacing: -0.4px;
            }
          }
        }
      }
    }
    .bottomFooter {
      width: 100%;
      border-top: 1px solid variable.$footer-border-top;
      padding-top: 20px;
      @include variable.d-flex($jc: space-between);

      p {
        @include variable.font-style($fs: 18px, $fw: 400, $lh: 30px);
        color: variable.$text-white-footer-copy;
        letter-spacing: -0.54px;
      }

      .socialMediaContainer {
        @include variable.d-flex();
        gap: 12px;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .footer {
    .footerContainer {
      .mainFooter {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 100px 80px 20px 80px;

    .footerContainer {
      .mainFooter {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    padding: 100px 60px 20px 60px;
    .footerContainer {
      .mainFooter {
        .navContainer {
          flex-wrap: wrap;
        }
      }
    }
  }
}
@media screen and (max-width: 568px) {
  .footer {
    padding: 40px 20px 20px 20px;

    .footerContainer{
      .bottomFooter{
        flex-wrap: wrap;
        gap: 20px;
      }
    }
  }
}
